// Sizes
$min-width-content: 320px;
$max-width-content: 1200px;

//breakpoints
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;

// colors
$color-main: #fff;
$color-accent: #0F4C81;
$color-info: #C3CF0E;
$color-extra: #8F241F;

// background colors
$bg-dark: #262624;
$bg-light: #E4EDF2;

// typography styles
$default-font: "Montserrat", sans-serif;

// typography sizes
$font-sizes: (
	smallest: smallest-size,
	small: small-size,
	std: std-size,
	std-extra: std-extra-size,
	medium: medium-size,
	medium-extra: medium-extra-size,
	title: title-size,
	subtitle: subtitle-size,
	subheader: subheader-size,
	header: header-size,
	header-extra: header-extra-size,
	banner: banner-size
	);

// Typography weights
$font-weights: (
	light: 300,
	regular: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
	extrabold: 800,
	black: 900
	);

// typography colors
$text-dark: #5F6262;
$text-light: #96C0CC;


// Customization Bootstrap vars from "/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
